body {
    font-size: 11px;
}

.logo {
    height: 70px;
    margin: 25px 15px 15px 15px;
}

h1 {
    text-align: center;
}

.alert {
    margin: 5px;
}

.github {
    height: 30px;
    float: right;
}